

<div class="filter-container"
  nxLayout="grid">
  <div nxRow class="nx-margin-bottom-m">
    <div nxCol="12, 12, 6">
      <h2 class="custom-margin-b">Filter:</h2>
      <nx-formfield label="Style">
        <nx-multi-select
          [options]="artworkStyles"
          [(ngModel)]="selectedStyles"
          (selectionChange)="filterArtworks()"
          selectLabel="label"
          selectValue="value"></nx-multi-select>
      </nx-formfield>
    </div>
    <div nxCol="12, 12, 6">
      <h2 class="custom-margin-b">Sort by:</h2>
      <nx-formfield label="Recommendation">
        <nx-dropdown
          (selectionChange)="sortArtwork()"
          [(ngModel)]="sortBy">
          @for (option of sortByList; track option) {
          <nx-dropdown-item
            [value]="option">
            {{ sortByValueAndLabelConnection[option] }}
          </nx-dropdown-item>
          }
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>
</div>

<div class="artwork-container">
  @for (eachArtwork of artworks; track eachArtwork.id) {
  <div class="artwork-box">
    <div class="artwork-image">
      <img
        [src]=" config + '/' + eachArtwork.image_id + '/full/843,/0/default.jpg' "
        onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/3/32/Art_Institute_of_Chicago_logo.svg'"
        [alt]="eachArtwork.thumbnail?.alt_text || ''" />
    </div>
    <div class="artwork-info">
      <h4 class="title">{{ eachArtwork.title }}</h4>
      <h5 class="artist">{{ eachArtwork.artist_title }}</h5>
      <h5 class="nx-font-weight-light">
        {{ eachArtwork.place_of_origin || '' }}
        {{
        !eachArtwork.date_start || !eachArtwork.date_start
        ? ''
        : eachArtwork.date_start === eachArtwork.date_start
        ? '(' + eachArtwork.date_start + ')'
        : '(' + eachArtwork.date_start + ' - ' + eachArtwork.date_end + ')'
        }}
      </h5>
      <h5 class="nx-font-weight-light">
        {{ eachArtwork.medium_display }}
      </h5>
    </div>
  </div>
  }
</div>

<nx-pagination
  class="pagination"
  [count]="count"
  [page]="page"
  [perPage]="pageSize"
  type="advanced"
  (goPrev)="prevPage()"
  (goNext)="nextPage()"
  (goPage)="goToPage($event)"
  ariaLabel="Advanced example pagination">
</nx-pagination>

<app-loading-spinner [showLoading]="loading"></app-loading-spinner>