/* You can add global styles to this file, and also import other style files */

@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";


:root {
  font-size: 10px;

  --main-color: #0f2a3d;
  --max-content-width: 1200px;
}

* {
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--main-color);
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

h6 {
  font-size: 0.75rem;
  margin: 0;
}