/* You can add global styles to this file, and also import other style files */

@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";


:root {
  font-size: 12px;

  --main-color: #0f2a3d;
  --max-content-width: 1200px;
}

* {
  font-family: 'Bai Jamjuree', sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--main-color);
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}